#homePageGallery {
    overflow: hidden;
    display: flex;
    animation: glry 30s infinite;
    /* display:; */
  }
  #map{
    width: 80vw;
    height: 80vh;
  }
  /* #catch_amino{
    display:none
  } */
  #chart{
    width: 80vw;
    height: 80vh;
  }
  #logo{
    height: 10vh;
  }
  #logo3{
    height: 10vh;
  }
  #second_main{
    display: none;
  }
  #my_chart{
    width: 100vw;
    flex
  }
  #user_btn{
    display: none;
  }
  .caroselanavbar{
    height: 90vh !important;
  }
  #logo-btm{
    width: 45vw;
  }
  /* @keyframes glry {
    0% {
      background-image: url(pics/Home-Page-img1.png);
    }
    12.5% {
      background-image: url(pics/dna3.jpg);
    }
    25% {
      background-image: url(pics/dna2.png);
    }
    37.5% {
      background-image: url(pics/Home-Page-img3.png);
    }
    50% {
      background-image: url(pics/stem_cells.png);
    }
    62.5% {
      background-image: url(pics/Stem-Cells3.png);
    }
    75% {
      background-image: url(pics/Home-Page-img4.png);
    }
    87.5% {
      background-image: url(pics/stem_cells4.png);
    }
    100% {
      background-image: url(pics/Stem-Cells3.png);
    }
  } */